<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your farm irrigation analysis</title>
</head>
<body>
    <h2> Areas of low and high water consumption for your farm </h2>
        <p> Lowest water consumption by SP_2 sprinkler at 36.676961907487126 latitude, 36.676961907487126 longitude location, and it was turned on for 32.0 seconds </p>
        &nbsp;&nbsp;
        <p> Highest water consumption by SP_2 sprinkler at -36.32066220130694 latitude, -36.32066220130694 longitude location, and it was turned on for 910437.0 seconds </p>
        &nbsp;&nbsp;
    <h2> Bar-chart representing water usage patterns for your farm </h2>
        <img src="farm_water_usage_plot.png" alt="Bar plot image of water usage for your farm">
</body>
</html>